body{
  font-family:Arial, Helvetica, sans-serif;
  font-size:font-size: 62.5%; /* font-size 1em = 10px */
  background: #FFFFFF;
  color: #000000;
}

table{
  border-spacing: 0px;
  border-collapse: collapse;
  margin:20px 0 0 0;
}

th {
  text-align: center;
  font-weight: bold;
  padding: 8px 2px;
  border: 2px solid #de411b;
  background: #de411b;
  color:#FFF;
  width:200px;
}

td {
  text-align: center;
  padding: 2px;
  border: 2px solid #de411b;
  background: #FFF;
}

input, select, .button {
  background: #FFF;
  border:1px solid #de411b;
  height: 34px;
}

a {
  color: #FFF;
  text-decoration: none;
}
