h1 {
	padding: 8px 10px;
	color: #FFF;
	border-radius: 4px;
	margin-bottom: 30px;
}

.img-logo {
	max-width: 400px;
	margin-bottom:40px;
	margin-top: 30px;
}

.red {
	background-color: #de411b;
}

body {
    padding-bottom: 40px;
 }

#version {
    font-size:0.8em;
    color: gray;
}
.orange{
    background-color: #de411b !Important;
    padding: 5px
}

#cssMenu {
    width: auto;
    zoom: 1;
    margin-bottom: 24px;
}
#cssMenu, #cssMenu > ul {
    background: url(../images/highlight-bg.png) repeat;
    padding-bottom: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#cssMenu > ul {
    background: url(../images/menu-bg.png) repeat;
    margin: 0;
    padding: 0;
    position: relative;
}

#cssMenu > ul > li {
    float: left;
    position: relative;
}
#cssMenu > ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}


#cssMenu:before, #cssMenu:after, #cssMenu > ul:before, #cssMenu > ul:after {
    content: "";
    display: table;
}
#cssMenu:after, #cssMenu > ul:after {
    clear: both;
}
#cssMenu > ul > li.active > a, #cssMenu > ul > li > a:active {
    background: url(../images/hover.png) repeat;
}
#cssMenu > ul > li > a {
    padding: 23px 26px;
    display: block;
    color: white;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 #0d0d0d;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
    line-height: 18px;
}

#cssMenu > ul > li:hover > a {
    background: url(../images/highlight-bg.png) repeat;
    text-shadow: 0 -1px 0 #97321f;
    text-shadow: 0 -1px 0 rgba(122, 42, 26, 0.64);
}
