h1 {
	padding: 8px 10px;
	color: #FFF;
	border-radius: 4px;
	margin-bottom: 30px;
}

.img-logo {
	max-width: 400px;
	margin-bottom:40px;
	margin-top: 30px;
}

.red {
	background-color: #de411b;
}

body {
    padding-bottom: 40px;
 }

#version {
    font-size:0.8em;
    color: gray;
}
.orange{
    background-color: #de411b !Important;
    padding: 5px
}